add_ace group.admin command allow # allow all commands

# Resources
add_ace resource.qbx_core command allow # Allow qbx_core to execute commands

# Ox_lib
add_ace resource.ox_lib command.add_ace allow
add_ace resource.ox_lib command.remove_ace allow
add_ace resource.ox_lib command.add_principal allow
add_ace resource.ox_lib command.remove_principal allow

# Ox_doorlock
add_ace group.admin command.doorlock allow
add_ace group.admin ox_doorlock allow
add_ace resource.ox_doorlock command allow
# Ace Groups
add_ace group.admin admin allow
add_ace group.mod mod allow
add_ace group.support support allow

# Inheritance
add_principal group.admin group.mod
add_principal group.mod group.support

## Server Administrators
add_principal identifier.steam:11000010bbd2289 group.admin # KushGuy (76561198157210249)
add_principal identifier.steam:11000010df8da9c group.admin # Phmere (76561198194678428)

# LarrytheMobster / KushGuy identifiers
add_principal identifier.license:a4cba7ed7dacd3722a7ee1e7f2739f0d6948037f group.admin
add_principal identifier.license2:6da43fa1004396be71261625c1d48f8eb2973455 group.admin
add_principal identifier.discord:325815016848752641 group.admin
add_principal identifier.fivem:2305843 group.admin

# Colom / Phmere identifiers
add_principal identifier.license:82cc457faf96f2cf331dc9ccfc71784468824b1a group.admin
add_principal identifier.license2:82cc457faf96f2cf331dc9ccfc71784468824b1a group.admin
add_principal identifier.discord:167341198330167296 group.admin
add_principal identifier.fivem:2305373 group.admin
